
body {
 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* background: linear-gradient(0deg, rgba(17,144,145,1) 0%, rgba(139,193,90,1) 100%);  */
  background-color:#09194f;
  max-width: max-content;
  margin:0 auto;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
